[Unit]
Description=JPPF node for OpenOlympus

[Service]
ExecStart=/usr/bin/java -cp config:lib/* -Xmx32m -Djppf.config=jppf-node.properties -Dlog4j.configuration=log4j-node.properties -Djava.util.logging.config.file=config/logging-node.properties org.jppf.node.NodeLauncher
WorkingDirectory=/opt/openolympus/jppfNode/JPPF-5.1-node/

Restart=always
RestartSec=20s
TimeoutStartSec=120
TimeoutStopSec=25

PrivateTmp=true
PrivateDevices=true
ProtectSystem=true

[Install]
WantedBy=multi-user.target