[Unit]
Description=OpenOlympus web server

[Service]
ExecStart=/usr/bin/java -jar /opt/openolympus/src/OpenOlympus/target/openolympus-0.1.0-SNAPSHOT.jar --spring.config.location=file:/opt/openolympus/openolympus.properties
WorkingDirectory=/opt/openolympus/

User=openolympus

Restart=always
RestartSec=20s
TimeoutStartSec=120
TimeoutStopSec=25

PrivateTmp=true
PrivateDevices=true
ProtectSystem=true

[Install]
WantedBy=multi-user.target